html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.game-container {
	height: 80%;
	width: 80%;
	border: 1px solid blue;
}
