html,
body {
	/* width: 100%;
	height: 100%; */
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	image-rendering: pixelated;
}

body {
	background-color: blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#game {
	width: 100%;
	height: 100%;
	margin: auto;
	border: 1px solid yellow;
}

@keyframes parpadeo {
	0%,
	100% {
		opacity: 1; /* Visible al inicio y al final */
	}
	50% {
		opacity: 0; /* Invisible en el medio */
	}
}

#titleText {
	animation: parpadeo 1s infinite;
}
